body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 45px; 
}
