body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 45px; 
}
